body {
    background-image: url("../images/backgrounds/terrazzo.png");
    background-size: contain;
    background-attachment: fixed;
}

#loginScreen {
    margin: 4% 0;
}

.card {
    padding: 0;
}
